
body{
    padding: 25px;
}

header{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.portfolio, .home, .bio, .projects, .contact-info{
    font-size: 20px;
    background-color:rgb(214, 214, 214);
}

h1{
    background-color:rgb(158, 158, 158);
}

p{
    background-color:rgb(158, 158, 158);
}


ul{
    background-color:rgb(158, 158, 158);
}
